h1 {
    color: black;
    text-shadow: 3px 3px 3px grey;
    text-align: center;
}

p {
    text-align: justify;
    margin: 10px;
    font-family: sans-serif;
}

body {
    background-color: black;
    margin: 20px 100px 20px 100px;
}
footer>p {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-style: unset;
}
.div3 {
    background-color: white;
    border-radius: 10px;

}

.logo {
    text-align: center;
    margin: auto;
    width: 250px;
    height: 200px;
}

.navegação {
    background-color: black;
    padding: 10px;
    color: white;
    text-align: center;
    margin: 10px;
}

.menu {
    padding: 9px;
    border: 2px solid;
    border-color: grey;
}

.menu:hover {
    background-color: grey;
    border-color: black;
    padding: 7px;
}

.img1 {
    float: left;
    padding: 10px;
}

.div2 {
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: grey;
    margin: 10px;
    float: left;
}

.clear {
    clear: both;
}
.img2 {
    padding: 10px;
    width: 30%;
    height: 350px;
}