body, html{
    margin: 0;
    padding: 0;
    height: 100%;
}
.img1, .img2, .img3{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.img1{
    background-image: url(../html/img/car_01.jpg);
}
.img2{
    background-image: url(../html/img/car_02.jpg);
}
.img3{
    background-image: url(../html/img/car_03.jpg);
}
.conteudo{
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 80px 40px 80px 40px;
    line-height: 1.5em;
    text-align: justify;
}
h2{
    text-align: center;
}
.conteudo.contv{
    background-color: rgb(243, 7, 7);
}