.fundo{
    background-color: black;
    background-image: url(../html/img/singapura.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
}