body {
    background-color: white;
}

header {
    margin-bottom: 5px;
    width: 100%;
    height: 300px;
}

main {
    margin-bottom: 5px;
    width: 100%;
    height: 400px;
}

footer {
    margin-bottom: 5px;
    width: 100%;
    height: 100px;
}

.m_left {
    float: left;
    width: 200px;
    height: 400px;
}

.m_left ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.m_left ul a {
    width: 200px;
    height: 50px;
    background-color: rgb(156, 201, 247);
    text-decoration: none;
    display: block;
    color: aliceblue;
    text-indent: 10px;
    line-height: 40px;
}

.m_left ul a:hover {
    background-color: rgb(135, 191, 247);
}

.m_left ul ul {
    display: none;
}

.m_left ul li:hover {
    display: block;
}

.m_left ul ul a {
    background-color: rgb(67, 157, 247);
}

.m_left ul ul a:hover {
    background-color: rgb(184, 175, 247);
}

.m_meio {
    border: solid;
    float: left;
    height: 400px;
    width: 700px;
}

.m_dir {
    border: solid;
    float: left;
    height: 400px;
    width: 280px;
}