#fundo {
    background-color: rgb(83, 23, 139);
}

#conteiner {
    background-color: white;
    margin: 20px auto;
    width: 750px;
    padding: 10px;
}

.relativo {
    border: solid green 3px;
    position: relative;
    /* top, right, bottom e left */
    top: 30px;
    left: 50px;
}