h1{
    color: rgb(223, 120, 87);
}
h2{
    color: rgb(231, 87, 133);
}
.font{
    color: rgb(97, 113, 67);
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}
#cor_fundo{
    background-color: rgb(237, 233, 213);
}